    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/new">Nueva factura</a></li>
        <li><a href="/logout">Salir</a></li>
      </ul>
    </nav>

    <h1>Tus facturas registradas</h1>

    <a href="/new">Registra una nueva!</a>

    <ul>
      <%invoices.each do |invoice|%>
      <li>
        <%=invoice.date%> - <%=invoice.document_number%> - Total: <%=invoice.total_amount%>€
        <% invoice.lines.each do |line|%>
          <br>
          <%= line.description%>. Base: <%= line.base%>€. IVA: <%= line.vat%>%. Retención<%= line.retention%>%
        <%end%>
      </li>
      <%end%>
    </ul>
