<div class="page-wrapper invoices">
  <header class="page-header">

    <div class="wrapper">
      <span class="logo"><a href="/">Invoice_Me</a></span>
      <nav class="page-menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/new">Nueva factura</a></li>
          <li><a href="/logout">Salir</a></li>
        </ul>
      </nav>
    </div><!-- .wrapper -->

  </header>

  <section class="page-content">

    <div class="wrapper">

      <div class="page-title">
        <h1>Facturas registradas</h1>
        <a href="/new" class="button primary">Registra una nueva</a>
      </div><!-- .page-title -->

      <div class="invoices-list">
        <ul>
          <%invoices.each do |invoice|%>
          <li>
            <span class="invoice-date"><%=invoice.date%></span>
            <span class="invoice-number"><%=invoice.document_number%></span> ||
            <span class="invoice-total">Total: <%=invoice.total_amount%>&euro;</span>
            <ul class="invoice-description">
            <% invoice.lines.each do |line|%>
              <li>
                <span class="description"><%= line.description%></span>
                <div class="more-info">
                  <span class="amount">Base: <%= line.base%>&euro;</span> ||
                  <span class="vat">IVA: <%= line.vat%>%</span> ||
                  <span class="retention">Retención: <%= line.retention%>%</span>
                </div><!-- .more-info -->
              </li>
            <%end%>
            </ul>
            <a href="#" class="download">Descargar en PDF</a>
          </li>
          <%end%>
        </ul>
      </div><!-- .invoices-list -->

    </div><!-- .wrapper -->

  </section>

  <footer class="page-footer">
    <div class="wrapper">
      <p>
        Creado con mucho amor por los Coding Stones.
      </p>
      <p>
        <a href="http://codingstones.com" target="_blank">
          <img src="images/stones-white.svg" alt="Logotipo Conding Stones">
        </a>
      </p>
      <p class="powered">
        Powered by
        <a href="https://cuentica.com" target="_blank">
          <img src="images/cuentica.svg" class="cuentica" alt="Logotipo Cuéntica">
        </a>
        and hosted by
        <a href="https://github.com" target="_blank">
          <img src="images/github.svg" class="github" alt="Logotipo GitHub">
        </a>
      </p>
    </div><!-- .wrapper -->
  </footer>

</div><!-- .page-wrapper -->